<form action='result' method='post'>
    <h2>Buy apples</h2>
    Quantity: 
    <select name='quantity'>
         <option value='1'>1</option>
         <option value='2'>2</option>
    </select>
    Message: <textarea name='message'></textarea>
    <input type='checkbox' name='extra_large' value='yes'> Want extra large apples?
    <p>Please select your preferred contact method:</p>
    <input type='radio' name='contact' value='email'>Email
    <input type='radio' name='contact' value='phone'>Phone
    <input type='submit' value='Submit'>
</form>